body{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 2em 0;
}

h1 {
  color: #F9D423;
  text-shadow: 3px 2px #FF4E50;
  font-size: 5em;
  font-family: 'Mountains of Christmas', cursive;
}

h2 {
  color: #555;
  font-size: 4em;
  font-family: 'Mountains of Christmas', cursive;
}

.btn-xmas {
  border: none;
  padding: 1em 8em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
  background: #FC354C; 
}

.btn-xmas:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}




.st0{fill:#332C28;}
.st1{fill:#00513E;}
.st2{fill:#003828;}
.st3{fill:#386FB1;}
.st4{fill:#28527C;}
.st5{fill:#EA385C;}
.st6{fill:#E7B75C;}
.st7{fill:#B28947;}


#tree {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.red {
  fill: #aa1231;
  -webkit-animation: 0.6s red-flash ease-in-out infinite;
          animation: 0.6s red-flash ease-in-out infinite;
}
@-webkit-keyframes red-flash {
  40% {
    fill: #ea385c;
  }
  80% {
    fill: #aa1231;
  }
}
@keyframes red-flash {
  40% {
    fill: #ea385c;
  }
  80% {
    fill: #aa1231;
  }
}
.gold-lt {
  fill: #c1881c;
  -webkit-animation: 0.6s gold-lt-flash ease-in-out infinite;
          animation: 0.6s gold-lt-flash ease-in-out infinite;
}
@-webkit-keyframes gold-lt-flash {
  40% {
    fill: #e7b75c;
  }
  80% {
    fill: #c1881c;
  }
}
@keyframes gold-lt-flash {
  40% {
    fill: #e7b75c;
  }
  80% {
    fill: #c1881c;
  }
}
.blue-lt {
  fill: #1f3e64;
  -webkit-animation: 0.6s blue-lt-flash ease-in-out infinite;
          animation: 0.6s blue-lt-flash ease-in-out infinite;
}
@-webkit-keyframes blue-lt-flash {
  40% {
    fill: #386fb1;
  }
  80% {
    fill: #1f3e64;
  }
}
@keyframes blue-lt-flash {
  40% {
    fill: #386fb1;
  }
  80% {
    fill: #1f3e64;
  }
}
.blue-dk {
  fill: #0f1f2f;
  -webkit-animation: 0.6s blue-dk-flash ease-in-out infinite;
          animation: 0.6s blue-dk-flash ease-in-out infinite;
}
@-webkit-keyframes blue-dk-flash {
  40% {
    fill: #28527c;
  }
  80% {
    fill: #0f1f2f;
  }
}
@keyframes blue-dk-flash {
  40% {
    fill: #28527c;
  }
  80% {
    fill: #0f1f2f;
  }
}
.gold-dk {
  fill: #69512a;
  -webkit-animation: 0.6s gold-dk-flash ease-in-out infinite;
          animation: 0.6s gold-dk-flash ease-in-out infinite;
}
@-webkit-keyframes gold-dk-flash {
  40% {
    fill: #b28947;
  }
  80% {
    fill: #69512a;
  }
}
@keyframes gold-dk-flash {
  40% {
    fill: #b28947;
  }
  80% {
    fill: #69512a;
  }
}
.g1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.g2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.g3 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}



/* SHAKE ANIMATION */

.face:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
